@use "../../styles/theme-scss/base.scss" as *;

.vdoIframe {
    padding-bottom: 56.25%;
    position: relative;
    display: block;
    width: 80px;

    & iframe,
    & video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}